  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Commissioner:wght@100;200;500;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,500;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400&family=Ysabeau+Office:ital,wght@0,1;0,400;1,100&family=Zeyada&display=swap');

body{
  background-image: linear-gradient(to left top, #cb4f0e, #bc3f18, #ac2f1e, #9b2021, #891222);  /* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(87, 6, 6, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
font-family: 'Roboto', sans-serif;
}
.bot-collection{
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin: auto;
  justify-content: center;
  height: 40%;
}
.bot-card {
  background-color: #c3c8ce23;

  /* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 70px;
  text-align: center;
}
.bot-card h3{
  font-size: 30px;
  color: whitesmoke;
  letter-spacing: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 10px 10px;
  background-color: black;
}
.bot-card button{
  width: 80%;
  padding: 10px 30px;
  margin-top: 10px;
  font-weight: 500;
  font-family: 'Zeyada', cursive;
  font-size: 30px;
  background-color:black;
  color: white;
  outline: none;
  border: none;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main{
  text-align: center;
  margin: 20px;
  font-family: 'Zeyada', cursive;
  font-size: 60px;
}
.par p{
  font-size: 18px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.par p :hover{
  
  background-color: whitesmoke;
}